:root {
    --font-body-family: "Be Vietnam", sans-serif;
    --font-heading-family: 'Modern No. 20', "leikoregular", "blocusregular", Georgia, 'Times New Roman', Times, serif;
    --color-bg-1: #FFD300;
    --color-bg-2: #E6FF9E;
    --color-accent-1: red;
    --color-accent-2: white;
    --color-accent-3: #35800B;
}

.home {
    background-color: var(--color-bg-1);
    color: var(--color-accent-1);
    cursor: url("../images/cursor_fishsauce.png"), auto !important;
    font-family: var(--font-body-family);
}

p, a {
    font-family: var(--font-body-family);
}

.home a {
    color: var(--color-accent-1);
}

a:hover {
    text-decoration: underline wavy;
    color: var(--color-bg-2);
}

h1 {
    font-family: var(--font-heading-family);
}

a {
    text-decoration: none;
}

.home a {
    cursor: url("../images/cursor_fishsauce_2.png"), auto !important;
}

p {
    cursor: text;
}

.home header ul{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 1rem;
    list-style: none;
    justify-content: space-between;
    width: 35%;
}

.eventhover:hover {
    content: url(../images/nav_thumbs/bo_la_lot_3.png);
}

.contacthover:hover {
    content: url(../images/nav_thumbs/bo_la_lot_3.png);
}

.home .intro {
    display: flex;
    flex-direction: row;
}

.home .intro .header {
    width: 100%;
}

.home .intro .header img {
    max-width: calc(100% - 8vh);
}

.home .intro .about {
    margin: auto;
width: 90%;
margin-right: 2rem;
}

.upcomingevents {
    margin: 2rem;
    margin-right: 4rem;
    text-align: end;
}
footer {
    text-align: center;
    font-size: .5rem;
    opacity: 50%;
    text-transform: uppercase;
    margin-top: 10%;
}


/* event page */

.events {
    background-color: var(--color-bg-2);
    color: var(--color-accent-1);
}

.events a {
    color: var(--color-accent-1);
}

.events a:hover {
    color: var(--color-accent-3);
}

.gallery img {
    max-width: 19rem;
    margin: 1rem;
    padding: .5rem;
    padding-bottom: 2rem;
    background-color: var(--color-accent-2);
}

.events header {
    display: flex;
    margin-left: 1rem;
    text-transform: uppercase;
}

.events header h1:hover {
    text-decoration: underline wavy;
}

.events header ul {
    list-style: none;
    text-transform: uppercase;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

/* contact page */

.contact {
    background-color: var(--color-accent-3);
    color: var(--color-accent-2);
}

.contact-form form {
    display: flex;
flex-direction: column;
max-width: 19rem;
}

.contact header ul {
    list-style: none;
display: flex;
justify-content: space-evenly;
position: absolute;
top: 0;
left: 0;
width: 50%;
text-transform: uppercase;
}

.contact header a {
    color: var(--color-accent-2);
}

.contact-form input.button-primary {
    color: var(--color-accent-3);
    background-color: var(--color-bg-2);
    border: none;
    padding: .5rem;
    width: ;
    margin: .5rem;
    text-align: center;
    }

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* mobile */
@media (max-width: 400px) {

}

/* Smaller than phablet */
@media (max-width: 550px) {
    
}

/* Larger than tablet */
@media (max-width: 750px) {
    .home .intro {flex-direction: column;}
    .home .intro .header img {
        width: 100%;
        }

        .gallery {
            margin-left: 1rem;
        }

        .gallery img {
            width: 40%;
            margin: 0;
        }

        .home header ul {
            width: 100%;
            justify-content: inherit;
            gap: 2rem;
        }

        .home .intro .about {
            margin-right: auto;
        }
        .upcomingevents {
            border-top: 1px solid;
            margin: 1rem;
        }
}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (max-width: 1200px) {}


/* Flying Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flier {
    pointer-events: none;
}

.flier > * {
    /* Adjust animation duration to change the element’s speed */
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 1s;
    z-index: 999999;
}

/* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

    98.001%,
    0% {
        display: block;
        transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }

    15% {
        transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }

    15.001%,
    18% {
        transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }

    40% {
        transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }

    40.001%,
    43% {
        transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }

    65% {
        transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }

    65.001%,
    68% {
        transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }

    95% {
        transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
    }
}