:root {
    --font-body-family: "Gulim", "Be Vietnam Light", sans-serif;
    --font-heading-family: 'Modern No. 20', "leikoregular", "blocusregular", Georgia, 'Times New Roman', Times, serif;
    --color-bg-1: #fef6e4;
    --color-bg-2: #FAF6CF;
    --color-accent-1: #A5B240;
    --color-accent-2: #AAA22A;
    --color-accent-3: #8E5A45;
}

.home {
    margin: 1rem;
    color: var(--color-accent-1);
    cursor: url("../images/cursor_fishsauce.png"), auto !important;
    font-family: var(--font-body-family);
}


p,
a {
    font-family: var(--font-body-family);
}

.home a {
    color: var(--color-accent-1);
}

a:hover {
    text-decoration: underline wavy;
    color: var(--color-accent-2);
}

h1 {
    font-family: var(--font-heading-family);
}

a {
    text-decoration: none;
}

.home a {
    cursor: url("../images/cursor_fishsauce_2.png"), auto !important;
}

p {
    cursor: text;
}


.home {
    text-transform: uppercase;
}


img.title {
    max-width: 50%;
    padding-top: 15%;
    align-content: center;
    margin: auto;
}


.home .content {
    background-image: url(../images/bg/bartavelle_pink.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 3rem;
    font-style: normal;
    font-weight: 300;
    line-height: 4.03125rem;
}

.home h1.main {
    padding-top: 15%;
    text-align: center;
    line-height: normal;
}

.home img.header {
    margin: auto
}

.home ul.nav {
    list-style: none;
    margin-top: 2rem;
    position: fixed;
}

.home blockquote {
    margin: -.6rem 1.9rem;
    font-size: 2rem;
}

#popup_boxo {
    max-width: 24em;
    font-size: 1.1rem;
    line-height: 1.2em;
    border: 1px solid black;
    margin-left: 2em;
    margin-top: -2em;
    background-color: var(--color-bg-2);
    position: relative;
}

.popupCloseButton {
    float: right;
    padding: 6px;
    padding-top: 0;
}

#popup_boxo p {
    padding: 1rem;
    margin-bottom: 0;
    margin-top: .3rem;
}

/* toggle display */
.hide {
    opacity: 0;
    transition: ease-out all 200ms;
    z-index: -999;
}

.show {
    animation-name: box-fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    z-index: 999;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    font-size: .5rem;
    opacity: 50%;
}


/* event page */

.events {
    background-color: var(--color-bg-2);
    color: var(--color-accent-1);
}

.events a {
    color: var(--color-accent-1);
}

.events a:hover {
    color: var(--color-accent-3);
}

.gallery img {
    max-width: 19rem;
    margin: 1rem;
    padding: .5rem;
    padding-bottom: 2rem;
    background-color: var(--color-accent-2);
}

.events header {
    display: flex;
    margin-left: 1rem;
    text-transform: uppercase;
}

.events header h1:hover {
    text-decoration: underline wavy;
}

.events header ul {
    list-style: none;
    text-transform: uppercase;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    border-top: 1px solid var(--color-accent-1);
    width: 100vh;
    overflow: visible;
}

/* contact page */

.contact {
    background-color: var(--color-accent-3);
    color: var(--color-accent-2);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 19rem;
}

.contact header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    text-transform: uppercase;
}

.contact header a {
    color: var(--color-accent-2);
}

.contact-form input.button-primary {
    color: var(--color-accent-3);
    background-color: var(--color-bg-2);
    border: none;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* mobile */
@media (max-width: 400px) {}

/* Smaller than phablet */
@media (max-width: 550px) {}

/* Larger than tablet */
@media (max-width: 750px) {
    .home img {
        width: 80%;
        height: auto;
    }

    .home .content {
        font-size: 2rem;
        line-height: 1.5;
    }

    .home blockquote {
        margin: 0 1.9rem;
        font-size: 1.5rem;
    }

    .gallery {
        margin-left: 1rem;
    }

    .gallery img {
        width: 40%;
        margin: 0;
    }
}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (max-width: 1200px) {}


/* Flying Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flier {
    pointer-events: none;
}

.flier>* {
    /* Adjust animation duration to change the element’s speed */
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 1s;
    z-index: 999999;
}

/* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

    98.001%,
    0% {
        display: block;
        transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }

    15% {
        transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }

    15.001%,
    18% {
        transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }

    40% {
        transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }

    40.001%,
    43% {
        transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }

    65% {
        transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }

    65.001%,
    68% {
        transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }

    95% {
        transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
    }
}