:root {
    --font-body-family: "Fragment Mono", "Be Vietnam", Helvetica, monospace;
    --font-heading-family: "ABC Synt Variable", 'Times New Roman', Times, serif;
    --color-bg-1: #FFC0D6;
    --color-bg-2: #F7FFDF;
    --color-accent-1: #172100;
    --color-accent-2: #FF3D00;
    --color-accent-3: #516AF5;
    --color-accent-4: #FFF830;
    --color-accent-5: #C8FE2F;
    --color-accent-6: #F88383;
}

body, html {
    background-color: var(--color-bg-1);
    color: var(--color-accent-1);
    cursor: url("../images/cursor_fishsauce.png"), auto !important;
    font-family: var(--font-body-family);
    margin: 0;
    scroll-behavior: smooth;
}

p,
a {
    font-family: var(--font-body-family);
    color: var();
}

h1 {
    font-family: var(--font-heading-family);
}

a:hover {
    text-decoration: underline wavy;
    color: var(--color-accent-2);
}

a {
    text-decoration: none;
    cursor: url("../images/cursor_fishsauce_2.png"), auto !important;
}

p {
    cursor: text;
}

button {
    border: none;
}

img.title {
    max-width: 50%;
    padding-top: 0;
    align-content: center;
    margin: auto;
}

ul.nav {
    list-style: none;
    margin-top: 2rem;
    position: fixed;
    display: flex;
    flex-direction: row;
    mix-blend-mode: hard-light;
    z-index: 999;
}

ul.nav li {
    padding: 0rem 1rem 0rem 1rem;
}

ul.nav li a {
    background: var(--color-bg-1);
    padding: 1rem;
}

blockquote {
    margin: -.6rem 1.9rem;
    font-size: 2rem;
}

#popup_boxo {
    max-width: 24em;
    font-size: 1.1rem;
    line-height: 1.2em;
    border: 1px solid black;
    margin-left: 2em;
    margin-top: -2em;
    background-color: var(--color-bg-2);
    position: relative;
}

.popupCloseButton {
    float: right;
    padding: 6px;
    padding-top: 0;
}

#popup_boxo p {
    padding: 1rem;
    margin-bottom: 0;
    margin-top: .3rem;
}

/* toggle display */
.hide {
    opacity: 0;
    transition: ease-out all 200ms;
    z-index: -999;
}

.show {
    animation-name: box-fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    z-index: 998;
}

.intro {
    background-image: url(../images/bg/bartavelle_pink.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--font-body-family);
    z-index: 1;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
  padding: 5em;
  font-family: var(--font-body-family);
  color: var(--color-accent-2);
  align-self: center;
}

.column span {
   font-size: 1.5em;
  text-transform: uppercase;
}

.carousel {
    display: flex;
    flex-direction: row;
    
    overflow-x: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.carousel:hover .group {
      animation-play-state: paused;
    }

/* Hide scrollbar for Chrome, Safari and Opera */
.carousel::-webkit-scrollbar {
    display: none;
}

 .group {
    will-change: transform;
  animation: scrolling 120s linear infinite;
  flex-direction: row;
  display: inline-flex;
  }

  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

.carousel img {
    max-height: 400px;
    border: 3px var(--color-bg-1) solid;
}

.CTA {
    margin: auto;
    text-align: center;
     padding: 5rem 0 5rem 0;
     color: var(--color-accent-3);
     width: 100%;
     display: flex;
     flex-direction: column;
}

.CTA ul {
    padding-left: 0;
    list-style: none;
    text-transform: uppercase;
    line-height: 2em
}

    .CTA img {
    margin-top: -12rem;
    margin-right: auto;
     margin-left: 0;
     mix-blend-mode: multiply;
     width: 30%;
     position: absolute;
    }

/* event page */

.events {
    background-color: var(--color-bg-2);
    color: var(--color-accent-1);
}

.events a {
    color: var(--color-accent-1);
}

.events a:hover {
    color: var(--color-accent-3);
}

.gallery img {
    max-width: 19rem;
    margin: 1rem;
    padding: .5rem;
    padding-bottom: 2rem;
    background-color: var(--color-accent-2);
}

.events header {
    display: flex;
    margin-left: 1rem;
    text-transform: uppercase;
}

.events header h1:hover {
    text-decoration: underline wavy;
}

.events header ul {
    list-style: none;
    text-transform: uppercase;
}

/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
    border-top: 1px solid var(--color-accent-1);
    width: 100vh;
    overflow: visible;
}

/* contact page */

.contact {
    background-color: var(--color-accent-3);
    color: var(--color-accent-4);
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

.contact-form {
    max-width: 50%;
    margin: auto;
}

.contact fieldset {
    padding: 4rem;
}

.contact fieldset div {
    margin-bottom: 2rem;
}

.form-input {
    width: 90%;
  background-color: var(--color-accent-3);
  padding: 1rem;
  border: var(--color-bg-2) 1px solid;
  color: var(--color-bg-2);
  text-transform: uppercase;
}

.form-input:focus-visible {
    outline: var(--color-accent-5) solid 2px;
}

.contact button {
    margin: 1rem auto auto auto;
  padding: 1rem;
  outline: var(--color-bg-2) solid 1px;
  border-radius: 0;
  color: var(--color-bg-2);
  background-color: var(--color-accent-3);
  text-transform: uppercase;
    transition-duration: 200ms;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact button:hover {
    background-color: var(--color-accent-5);
  color: var(--color-accent-6);
  padding-bottom: 1rem;
  outline: var(--color-accent-6) solid 1px;
}

footer {
    background-color: var(--color-accent-3);
}
footer .caption, footer .caption a {
    color: var(--color-accent-6);
    text-transform: uppercase;
    font-size: 0.8rem;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* mobile */
@media (max-width: 400px) {}

@media (max-width: 550px) {
    .CTA img {
    margin-top: -5rem;
     margin-left: -5em;
     width: 100%;
    opacity: 70%;
    }
}

/* tablet or smaller */
@media (max-width: 810px) {
.intro {
    height: 60vh;
}
ul.nav {
    margin: 0;
    flex-direction: column;
    padding: 0;
    left: 0;
}
ul.nav li {
    line-height: 4rem !important;
  padding-left: 0 !important;
}
img.title {
    max-width: 90%;
}
.row {
    flex-direction: column;
}
.column {
    padding: 1rem 1rem 0rem 1rem;
}



    .contact {
    padding: 0rem;
}

.contact-form {
    max-width: 100%;
}

.contact-form > form:nth-child(1) > fieldset:nth-child(1) {
  border: none;
}

.contact-form button {
    margin-left: auto;
float: ;
align-content: center;
display: grid;
}

.contact-form {
    padding-bottom: 2rem;
}

}

/* Larger than tablet */
@media (max-width: 810px) {

}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (max-width: 1200px) {}


/* Flying Image
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.flier {
    pointer-events: none;
}

.flier>* {
    /* Adjust animation duration to change the element’s speed */
    animation: fly 50s linear infinite;
    pointer-events: none !important;
    top: 0;
    left: 0;
    transform: translateX(-120%) translateY(-120%) rotateZ(0);
    position: fixed;
    animation-delay: 1s;
    z-index: 999999;
}

/* Keyframe values control where the element will begin
    and end its trajectory across the screen. Each rule
    represents a path the element follows across the screen. */


@keyframes fly {

    98.001%,
    0% {
        display: block;
        transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
    }

    15% {
        transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
    }

    15.001%,
    18% {
        transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
    }

    40% {
        transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
    }

    40.001%,
    43% {
        transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
    }

    65% {
        transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
    }

    65.001%,
    68% {
        transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
    }

    95% {
        transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
    }
}